<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Tagline</h2>
        <p>Bowling Alley Address</p>
    </body>
</html>
